$white-color: #fff;
$darkGray-color: #282c34;
.home-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $darkGray-color;
  color: $white-color;
  font-size: 14px;
  text-align: center;
  .home-header {
    min-height: 10vh;
    font-size: 22px;
  }
  .home-content {
    border: 1px solid $white-color;
    padding: 20px;
    font-size: 14px;
    .input-container {
      margin-bottom: 15px;
      justify-content: space-between;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}